*.bai
*.bam
*.bam.bai
*.dat
*.fasta
*.fasta.*  
*.fasta.amb
*.fasta.ann
*.fasta.bwt
*.fasta.fai
*.fasta.pac
*.fasta.sa
*.fastq*
*.flagstat
*.gbk
#*.gitignore
*.gff
*.pdf
*.RData
*.Rhistory
*.sam
*.sql
*.sql.*
*.swp

extract_CIGAR.LakWasMet55_HOW8_2.sorted.sam.dat.testing

# for link used in bbmap dirs
ref

#*.sorted.bam  # gets handled by the .bam
#*.sorted.bam.bai # gets handled by the .bai
#*.summary.dat   # gets handled by the .dat
# don't include:
# .gbk
# .fasta
# .gbk.gff
